<div class="card">
  <h1 class="titulo">toDo - app</h1>

  <app-input (eventoBotaoInput)="mandaTarefaStorage($event)"></app-input>

  <app-tarefa (eventoExclusao)="deletaTarefa($event)"></app-tarefa>

  <app-rodape (enviaEventoExlusao)="limpaStorage()"></app-rodape>

  <div class="alert alert-primary d-flex align-items-center center" role="alert" *ngIf="mostraAlert">
    <div>
      Adicione uma tarefa válida!!!
    </div>
    <button type="button" class="btn btn-outline-primary " (click)="tiraAlert()">Ok</button>
  </div>
</div>